#你的域名
xxx.xxxx.com

#压缩方式
encode gzip  

#tls安全连接,其中xxxx@xxxx.com为你邮箱的地址，caddy据此来自动申请SSL证书
tls  xxxx@xxxx.com {    
   on_demand 
}  

#配置日志文件
log {      
    output file /var/log/caddy.log 
}

#配置服务器页面文件根目录,一般默认为该目录
 root * /srv/www

# 打开静态文件服务功能
file_server

#反向代理配置,其中/dir为反向代理的目录前缀
#也即只有访问前缀为xxx.xxxx.com/dir时才会进行反代，可依据自身情况调整或删除
#XXXXX为本地反向代理的端口号
reverse_proxy /dir {
   to localhost:XXXXX
}
